*,*:before,*:after{
	box-sizing:border-box;
	position:relative;
}
html,body{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
body{
	background:#D3D3D3;
}
.cubo{
	width:50px;
}
img{
	width: 100px;
}
main{
	display:flex;
	flex-wrap:wrap;
	width: 80%;
} 
section{
	padding:15px;
	margin:5px;
	background: #fff;
}
.sec1{
	width:68%;
}
.sec2 {
	width:30%; 
	display:flex;

}
.sec2 div{
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: flex-end;
	margin:5px;
}

.sec2 div img{
	width:83px;
}
.sec3{
	width:30%;
	font-family:serif
}
.sec3 img{
		width:49%; 
}
.sec3 p:last-child{
	text-align: right; 
}
.sec4{
	display:flex;
	flex-wrap:wrap; 
	width: 68%;
	font-size: 10px;
	margin: 5px;
	padding: 15px;
}
.sec4 h2{
	margin-top: 3px;
	margin-bottom:15px;
}
.sec4 h3{
	font-size:20px;
	/*position: relative;	top:0px left: 5px;*/*/
}
.sec4 div h3{
	margin-bottom: 0;
}
.sec4 div h3{
	margin-bottom: 0;
}
.sec4 div ul{
	list-style: inside none;
	padding: 0;
	margin-top: 2px;
}
.sec4 div ul li{
	font-size: 11px;
}
.sec4 div ul li:before{
	content: "- ";
}
.sec4 div img{
	display: flex;
	/*position: relative;	top:0px;	left: 15px;*/
	/*align-self: center;*/*/
	width:80%;
}
.sec4 img{
	width: 70%;
}
.sec4 div ul{
	position: relative;top: 0px;	left: 5px;
	list-style: inside none;
	padding: 0;
	margin-top: 2px;
}
.sec4 div ul li{
	font-size: 11px;
}
.sec4 div ul li:before{
	content: "- ";
}
.sec4 div img{
	display: flex;
	position: relative;	top:0px;	left: 15px;
	/*align-self: center;*/
	width: 75%;
}
.sec4 img{
	width: 100%;
}
.sec5{
	display: flex;
	flex-wrap: wrap;
	width: 44.95%;
	/*font-size: 15px;*/
	/*padding: 15px;*/
}
.sec5 h3{
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 15px;
}
.sec5 p{
	margin-top: 2px;
	font-size: 15px;
	/*margin-bottom: 0;*/
}
.sec6{
	width: 26%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.sec6 h3{
	width: 100%;
	font-size: 15px;
	margin-top: 5px;
	/*padding: 5px;*/
	margin-bottom: 0px;
}
.sec6 img{
	width: 85%;
}
.sec7{
	width: 17.6%;
}
.sec7 h3{
	margin-top: 5px;
	font-size: 15px;
}
.sec7 ul{
	display: flex;
	flex-direction: column;
	list-style:none;
	padding: 0px;
	margin-bottom: 0;
}
.sec7 ul li{
	color: blue;
	margin-bottom: 8px;
}
.sec7 ul li:before{
	content: "• "
}
