*,*:before,*:after{
	box-sizing:border-box;
	position:relative;
}
html,body{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
body{
	background:#D3D3D3;
}
/*.cubo{
	width:50px;
}*/
/*img{
	width: 100px;
}*/
main{
	display:flex;
	flex-wrap:wrap;
	width: 80%;
} 
section{
	padding:15px;
	margin:5px;
	background: #fff;
}
.sec1{
	width:68%;
}
.sec2 {
	width:30%; 
	display:flex;

}
.sec2 div{
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: flex-end;
	margin:5px;
}

.sec2 div img{
	width:83px;
}
.sec3 p{
	font-family: "Times New Romam - italico";
}
.sec3{
	width:30%;
	font-family:serif;
}
.sec3 img{
		width:49%; 
}
.sec3 p:last-child{
	text-align: right; 
}
.sec4{
	display:flex;
	flex-wrap:wrap; 
	width: 68%;
	font-size:10px;
	/*margin: 5%;*/
	padding: 15px;
}
.sec4 h2{
	margin-top: 2px;
	margin-bottom:10px;
}
.sec4 div{
	margin:0;
	width:44%; 
}

.sec4 div h3{
	font-size:30px;
	margin-bottom: 0;
}
.sec4 div ul{
	list-style: inside none;
	padding: 0;
	margin-top: 2px;
}
.sec4 div ul li{
	font-size: 13px;
}
.sec4 div ul li:before{
	content: "- ";
}
.sec4 div img{
	display: flex;
	width: 80%;
}

.sec5{
	display: flex;
	flex-wrap: wrap;
	width: 44.95%;

}
.sec5 h3{
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 15px;
}
.sec5 p{
	margin-top: 2px;
	font-size: 15px;
}
.sec6{
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.sec6 h3{
	width: 100%;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 0px;
}
.sec6 img{
	width: 85%;
}
.sec7{
	width: 17%;
}
.sec7 h3{
	margin-top: 5px;
	font-size: 15px;
}
.sec7 ul{
	display: flex;
	flex-direction: column;
	list-style:none;
	padding: 0px;
	margin-bottom: 0;
}
.sec7 ul li{
	color: blue;
	margin-bottom: 8px;
}
.sec7 ul li:before{
	content: "• ";
}
@font-face{
	font-family: "Times New Romam - italico";
	src: url(fonts/timesi.ttf); 
}